* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

body {

    background: linear-gradient(85deg, white, black);
    display: flex;
    justify-content: center;
    align-items: center;

}

.Container{

    width: 80%;
    box-shadow: 0 0 0 1rem 0 rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden; /*Não deixa a propriedade transbordar */
}

.nav   {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    width: 50px;
    margin: 30px 0; /*margem em cima e em baixo e 0 aos lados*/
}

nav  {

    width: 100%;
    text-align: right; /*Alinha tudo a direito*/

}

li{
    list-style: none; /*tirar as boolinhas da li*/
    display: inline-block; /*colocar as li lado a lado*/
    margin-right: 30px; /*margin ao lado direito*/
    font-size: 20px;
    
}
.nav-link{
    text-decoration: none; /*retirar os sublinhados das li*/
    color: black;

}
.nav-link:hover{
    color: blueviolet;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col1 {
    margin-left: 50px;
}

h2 {

    font-size: 50px;
}

h3{

    font-size: 30px;
    color: #707070;
    font-weight: 100; /*Peso da fonte*/
    margin: 20px 0;
}
.col1 p {

    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
}

h4{
    font-size: 20px;
    color: black;
    margin: 30px ;
}

.buy{

    width: 140px;
    padding: 18px 10px; 
    background: linear-gradient(95deg, rgb(57, 8, 80) ,black);
    border-radius: 6px; 
    color: white;
    cursor: pointer;
    z-index: 2;
}

.col2 {
    align-items: center;
    display: flex;
    position: relative;
    
}

.controler{
    width: 90%;
    z-index: 2; /*sobre poe o item, nesse caso o controle fica em cima do color*/
}

.color-box{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(95deg, rgb(57, 8, 80) ,black);
    height: 100%;
    width: 80%;
    border-radius: 20px 0px 0px 20px;
    z-index: 1;
    transform: translateX(150px);
    
}

.Adicionar-ao-carrinho{
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
    height: 40px;
    width: 30px;
}

.Redes{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Redes img {
    border: 0;
    margin: 0;
    width: 60px;
}